<%= javascript_include_tag 'calendar', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'isomer.min', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'graphics_manager', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'grid', 'data-turbolinks-track' => true %>

<div class='index-page'>
  <div class='row'>
    <form action='/' method='get'>
      <input type='text' placeholder='Your GitHub username' name='github' class='offset-by-three four columns'>
      <input type='submit' value='Go!' class='two columns'>
    </form>
  </div>
  <% if @github.present? %>
    <p class='row offset-by-four four columns'>Here's <strong><%= @github %> </strong> 's public contributions calendar.</p>
  <% end %>
  <canvas width='1200' height='750' id='calendar'>
  <script>
    var debug;
    $(document).ready(function(){
      window.requestAnimationFrame(function (){
        new Calendar(gon.calendar, true);
      });
    });
  </script>
</div>
