<!DOCTYPE html>
<html>
<head>
  <title>Isometric GitHub Profile</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= Gon::Base.render_data %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="Isometric GitHub Profile" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://isometric-github-profile.herokuapp.com/" />
  <meta property="og:image" content="http://i.imgur.com/Z3q5LLe.png" />
</head>
<body class='container'>

<%= render 'header' %>

<%= yield %>

<%= render 'footer' %>

</body>
</html>
