<!DOCTYPE html>
<html>
<head>
  <title>Isometric GitHub Profile</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'calendar', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'isomer.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'graphics_manager', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'grid', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'tile', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='container'>

<%= render 'header' %>

<%= yield %>

<%= render 'footer' %>

</body>
</html>
